@import "../fonts/stylesheet.css";
body {
    font-family: 'Open Sans';
    font-weight: normal;
    color: #000;
}

header {
    background: #333333 url('../img/8.jpg') no-repeat;
    background-size: cover;
    display: flex;
    height: 766px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 22;
}

header h1 {
    font-size: 96px;
    color: #fff;
}

header h1::after {
    content: '';
    display: block;
    width: 200px;
    height: 3px;
    background: #71bf44;
    margin: 0 auto;
    margin-top: 36px;
    margin-bottom: 18px;
}

header h2 {
    font-size: 48px;
    color: #fff;
    font-weight: bold;
}

.btn {
    padding: 18px 42px;
    text-transform: uppercase;
    border-radius: 9px;
}

header .btn-wrap {
    margin-top: 50px;
    margin-left: 35px;
}

.btn-dark {
    border: 1px solid #fff;
}

.btn-dark:hover {
    border: 1px solid #fff;
}
header .btn-dark{
    margin-right: 20px;
}
header span {
    color: #fff;
    width: 46px;
    height: 46px;
    background: #333;
    border-radius: 50%;
    border: 3px solid #fff;
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menu .navbar{
    padding: 0;
    background: #222;
}
.menu .navbar-brand{
    position: relative;
}
.menu .navbar-brand img {
    position: absolute;
    left: 0;
    top: -145px;
}
.menu .navbar .navbar-nav {
    margin-left: 25%;
    width: 70%;
    display: flex;
    justify-content: flex-end;
    
}
.menu .navbar .nav-link{
    height: 100px;
    padding: 34px 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    color: #fff;
}
.menu .navbar .nav-link i{
    margin-bottom: 10px;
}
.menu .navbar .nav-item:hover{
    background: #393939;
    box-shadow: 0 5px 0px #71bf44;
}
.menu .navbar .nav-link:hover{
    color: #71bf44;
}

.about__wrap {
    padding: 200px 0;
    background: url('../img/laptop.png') no-repeat 73% 35%;
   
}
.about p {
    width: 555px;
}
.smith {
    background: #ebebeb;
    padding: 200px 0 80px;
    position: relative;
}
.smith p {
    width: 100%;
    text-align: center;
}
.smith__top-img{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.smith .carousel{
    height: 200px;
}
.smith .rectangle {
    content: '';
    display: block;
    width: 176px;
    height: 56px;
    background-color: #a7a37e;
    border: 1px solid #666666;
    border-radius: 12px;
}
.smith .carousel-indicators{
    bottom: 70px;
    /* background-color: #000; */
    align-items: flex-end;
}
.smith .carousel-indicators li {
    width: 100px;
    margin: 0 32px;
    background-color: #cccccc;
}
.smith .carousel-indicators .active {
    background-color: #666666;
}
.smith__staff {
   text-align: center;
   margin-top: 75px;;
}
.smith__staff  h5{
    color: #222222;
    font-size: 30px;

}
.smith__staff h6{
    color: #666666;
    font-size: 14px;
}
.team {
    padding: 150px 0 140px;
}
.team h1{
    color: #71bf44;
    font-size: 48px;
    font-weight: normal;
    display: block;
}
.team h1::after{
    display: block;
    content: '';
    width: 100px;
    line-height: 1;
    height: 3px;
    background: #71bf44;
    margin-top: 40px;
}
.team p{
    margin-top: 40px;
    color: #666666;
    font-size: 14px;
}
.pb-5{
    padding-bottom: 155px !important;;
}
.team .wearehiring {
    position: absolute;
    bottom: 0;
    padding-bottom: 5px;
    
}
.team h6{
    color: #666666;
    font-size: 14px;
    margin-bottom: 0;
    text-transform: capitalize;
}
.team h2 {
    color: #71bf44;
    font-size: 30px;
    margin-bottom: 20px;;
    font-weight: bold;
    text-transform: uppercase;
}
.team img {
    border-radius: 12px;    
}

.team .img_wrap:hover .social{
    display: flex;
}
.social {
    padding: 34px 0;
    display: none;
    justify-content: center;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%);
    width: 99%;
    background-color: #71bf44;

}
.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 25px;
    height: 25px;
    background: #fff;
    margin: 8px;
    border-radius: 6px;
    color: #71bf44;
    text-decoration: none;
}
.team .social a:hover{
    background: #333333;
}
.templ-skills {
    padding: 150px 0;
    background: #333333;
}
.templ-skills h1 {
    color: #71bf44;
    font-size: 36px;
    font-weight: normal;
}
.templ-skills h1::after{
    display: block;
    content: '';
    width: 100px;
    line-height: 1;
    height: 3px;
    background: #71bf44;
    margin-top: 40px;
    margin-bottom: 40px;
}
.templ-skills p {
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
}
.template_item,
.skill_item{
    margin-top: 60px;
}
.template_icon {
    display: block;
    padding: 0 17px;
    height: 120px;
    background: #71bf44;
    margin-right: 12px;
    border-radius: 12px;
}
.template_icon i {
    margin-top: 20px;
    font-size: 36px;
}
.template_text h1 {
    font-size: 25px;
}
.template_text h1::after{
    margin: 20px 0;
}
.skill_item h1 {
    font-size: 24px;
}
.skill_item h1::after{
    margin: 20px 0;
}
.templ-skills .procent {
    display: block;
    width: 90px;
    height: 36px;
    border: 1px solid #71bf44;
    margin-bottom: 15px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.templ-skills .procent p{
    font-size: 48px;
    margin: 0;
    font-family: 'Yeseva One', cursive;
    position: absolute;
    transform: rotate(-10deg);
    top: -20px;
    color: #71bf44;
}
